@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<h1>@Localizer["Merhaba"] @Localizer["bugün"] @Localizer["hava"] @Localizer["çok"] @Localizer["sıcak"] @Localizer["siz"] @Localizer["nasıl"] @Localizer["burada"] @Localizer["rahatça"] @Localizer["oturuyorsunuz"]. @Localizer["Çünkü"] @Localizer["bu"] @Localizer["sıcak"] @Localizer["havada"] @Localizer["sadece"] @Localizer["denize"] @Localizer["girilir"]. @Localizer["Sıcak"] @Localizer["hava"] @Localizer["bugün"] @Localizer["iyice"] @Localizer["arttı"]. @Localizer["Hava"] @Localizer["durumu"] @Localizer["şuan"] @Localizer["gölgede"] @Localizer["30"] @Localizer["derecenin"] @Localizer["üzerinde"] @Localizer["yani"] @Localizer["çok"] @Localizer["çok"] @Localizer["sıcak"]</h1>